
body {
    /* background-color: lightgray; */
    background-color: rgb(89, 202, 155);
    margin: 0 10%;
}
header {
    background-color: burlywood;
    padding: 10px;
    text-align: center;

}
header h2 {
    font-size: 35px;
}

nav {
    float: left;
    background-color: lightgreen;
    width: 25%;
    height: 400px;
}
nav ul {
    list-style-type: none;
    padding-left: 10px;
    padding-top: 15px;
}

main {
    float: left;
    width: 75%;
    height: 400px;
    background-color: coral;
    overflow: hidden;
    scroll-behavior: smooth;
}

#home {
    background-color: lightskyblue;
    height: 100%;
    /* padding: 12px; */
}
#profile {
    background-color: magenta;
    height: 100%;
    /* padding: 12px; */
}
#contact {
    background-color: mediumvioletred;
    height: 100%;
    /* padding: 12px; */
}

footer {
    clear: both;
    background-color: lightseagreen;
    height: 70px;
    
}
footer p {
    text-align: center;
    padding-top: 25px;
}

@media only screen and (max-width: 600px) {
    
    body {
        margin: 0px;
        background-color: rgb(53, 35, 9);
    }
    nav {
        width: 100%;
        height: auto;
    }

    main {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    
    body {
        margin: 0px;
        background-color: rgb(53, 35, 9);
    }
    
}